.container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.message {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #215273;
}

h1 {
  font-weight: 500;
}

.info-text {
  font-size: 16px;
  text-align: center;
  width: 80%;
}

.start-game-button {
  width: 200px;
}